body{
	background-color:yellow;
}


p{
	color:blue;
}

.center-profile{
	margin:auto;
}


.img-circle{
	border-radius: 100%;
}

p{
	font-family:cursive;

}

.card-color{
	background-color: purple;
}

.space{
	height: 50px;
	width:100%;
}